/* Work in progress */
html {
  height: 100%;
}
body {
    /* background: url("../background.gif") no-repeat center center fixed;
    background-size: cover; */
    height: 100%;
    margin: 0px;
    display: flex;
    background-position: center;
}

#container{
  margin: auto;
  padding: 0px 20px;
}

.tile {
  padding: 10px;
  margin: 10px;
  background-color: #E5E6E4;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  transition: box-shadow 0.2s ease-in-out;
}

.Panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 10px;
}

.searchBar {
  display: flex;
  margin: 15px 0px;
}

.searchBar a img {
  width: 64px;
  height: 64px;
}

video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
   	z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
	background: url('../ship.jpg') no-repeat;
	background-size: cover;
  	-webkit-transition: 1s opacity;
  	transition: 1s opacity;    position: fixed;
}

.stopfade {
	opacity: .5;
}

input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #00D2FF;
    margin: auto 100px;
    background-color: #FAFAFA;
    color: #231F20;
    width: 500px;
}